body.light-mode {
  background-color: white;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: black;
  color: #dfdfdf;
}

body.dark-mode .tab {
  background-color: yellow;
  color: #dfdfdf;
}

body.dark-mode .nav-item .nav-link {
  background-color: yellow;
  color: yellow;
}

body.dark-mode .nav .nav-item .nav-fill {
  color: yellow;
}

body.dark-mode .nav-link.active {
  background-color: black !important;
  border-color: lightgrey;
  border-bottom: none;
  color: white;
}

body.light-mode .nav-link.active {
  background-color: white !important;
  border-bottom: none;
  border-color: lightgrey !important;
}

body.light-mode #tabs-tab-home {
  background-color: #f8f9fa;
  color: black;
  border-bottom: none;
  border-top-color: lightgrey;
  border-left-color: lightgrey;
  border-right-color: lightgrey;
}

body.light-mode #tabs-tab-projects {
  background-color: #f8f9fa;
  color: black;
  border-bottom: none;
  border-top-color: lightgrey;
  border-left-color: lightgrey;
  border-right-color: lightgrey;
}

body.light-mode #tabs-tab-contributions {
  background-color: #f8f9fa;
  color: black;
  border-bottom: none;
  border-top-color: lightgrey;
  border-left-color: lightgrey;
  border-right-color: lightgrey;
}

body.dark-mode #tabs-tab-home {
  background-color: #343a40;
  color: white;
  border-bottom: none;
  border-top-color: grey;
  border-left-color: grey;
  border-right-color: grey;
}

body.dark-mode #tabs-tab-projects {
  background-color: #343a40;
  color: white;
  border-bottom: none;
  border-top-color: grey;
  border-left-color: grey;
  border-right-color: grey;
}

body.dark-mode #tabs-tab-contributions {
  background-color: #343a40;
  color: white;
  border-bottom: none;
  border-top-color: grey;
  border-left-color: grey;
  border-right-color: grey;
}

body.dark-mode .card-body {
  background-color: black;
  border-color: grey;
}

body.dark-mode .card-footer {
  background-color: #343a40;
  border-color: grey;
  color: white !important;
}

body.dark-mode .fixed-bottom {
  background-color: #343a40;
  color: white;
}

body.dark-mode .navbar-brand {
  color: white;
}

body.light-mode .fixed-bottom {
  background-color: #f8f9fa;
}

body.dark-mode .card-header {
  background-color: #343a40;
}

body.dark-mode .alert {
  background-color: #343a40;
  color: white;
}

body.light-mode .alert {
  background-color: #f8f9fa;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit !important;
  text-decoration: none;
}

.square {
  border-radius: 0px !important;
}

.acord-top {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.acord-btm {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
