/* .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: grey;
  background-color: white;
  border-color: none;
}

.nav-tabs .nav-link:hover {
  color: gray;
}

#yellow {
  height: 100%;
  background: yellow;
}
 */

/* body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
} */
